[submodule "deps/umfpack"]
	path = deps/umfpack
	url = ../umfpack.git
[submodule "deps/superlu"]
	path = deps/superlu
	url = https://github.com/xiaoyeli/superlu.git
[submodule "deps/arpack"]
	path = deps/arpack
	url = ../arpack_c.git
